<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net451" />
  <package id="Config.Net" version="3.2.6" targetFramework="net451" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net452" />
  <package id="Goblinfactory.Konsole" version="3.0.1" targetFramework="net452" />
  <package id="NetBox" version="1.4.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="SimpleInjector" version="4.0.8" targetFramework="net452" />
</packages>